# vim file history
.vim/.netrwhist

# fish
.config/fish/fish_history
.config/fish/fish_read_history
.config/fish/fish_variables
.config/fish/fishd*

# local configuration
.config/KeePass
.config/Trolltech.conf
.config/compiz
